/////////////////////////////
// Base                   
/////////////////////////////

// Border Box
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Typography
body {
  font-family: 'Inconsolata', monospace;
  // background-color: dodgerblue;
}

a {
  text-decoration: none;
  color: inherit;
  // color: $link-default;
}

p {
  line-height: 1.6;

  @include bp(medium) {
    font-size: 1.25rem;
    
  }

  @include bp(large) {
    // color: $color2;
    // font-size: 1.4rem;
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1;
  margin: 0.25em 0;
  // text-transform: uppercase;
  @include transition(font-size .2s linear);

  @include bp(medium) {
    font-size: 7rem;
    // color: $color1;
  }

  @include bp(large) {
    // color: $color2;
    font-size: 10rem;
    letter-spacing: -2px;
  }
}
