// Colors
$grey-light: #EDEDED;
$grey-dark: #2F2F2F;
$link-default: $grey-dark;

// Sizes
$bp-medium: 31.25em; 	// 960px
$bp-large: 75em; 		// 1200px

@mixin bp($size) {
  @if $size == medium {
    @media (min-width: $bp-medium) { @content; }
  } @else if $size == large {
    @media (min-width: $bp-large) { @content; }
  } @else {
    @media (min-width: $size) { @content; }
  }  
}

// Helper Classes
.hide { display: none!important }
