/////////////////////////////
// Footer                   
/////////////////////////////


footer {
  position: relative;
  margin-top: calc(16% + 6em);
  background-color: $grey-light;

  svg.footer-slope {
    width: 100vw;
    position: absolute;
    fill: $grey-light;
    bottom: 100%;
    margin-bottom: -1.2%;
    height: 16.875vw;
  }

  .social-wrapper,
  .footer-social {
    display: block;
    padding: 1rem;
    a {
      font-size: 1.5rem;
      padding: 0.7rem;
      &:first-child {
        padding-left: 0;
      }
    }
  }

  display: none;
}