doctype html
html(lang="en")
	//- start head
	include _includes/head.jade
	//- end head
body
		
	span.size-debug.debug

	include _includes/header.jade
	include _includes/form.jade		
	include _includes/main.jade
	section#gallery.section--new
		//- .grid__wrapper
		//- 	.row
		//- 		.col.col--1-of-4
		//- 			.box
		//- 		.col.col--1-of-4
		//- 			.box
		//- 		.col.col--1-of-4
		//- 			.box
		//- 		.col.col--1-of-4
		//- 			.box
		//- 		.col.col--1-of-4
		//- 			.box
		//- 		.col.col--1-of-4
		//- 			.box
		
		h2 projects
		.grid__wrapper
			// this is a row
			.grid
				.grid__col.grid__col--1-of-4
					.box.thumb.thumb--music
						img(src="assets/images/projects/cover--infinity.jpg")
						h3 Infinity Alpha
						.actions__wraper
							a.action Download
				.grid__col.grid__col--1-of-4
					.box.thumb.thumb--music
						img(src="assets/images/projects/cover--am.jpg")
						h3 afterMidnight
						.actions__wraper
							a.action Download
				.grid__col.grid__col--1-of-4
					.box.thumb.thumb--music
						img(src="assets/images/projects/cover--wawr.jpg")
						h3 Who Are We Really
						.actions__wraper
							a.action Download
				.grid__col.grid__col--1-of-4
					.box.thumb.thumb--music
						img(src="assets/images/projects/cover--jaguar.jpg")
						h3 Jaguar
						.actions__wraper
							a.action Download
							a.action Stream
			
	include _includes/footer.jade	
	
	span.center-line.debug

script(src="assets/scripts/main.js")
