doctype html
html(lang="en")
	include _includes/head.jade
body.mobile-nav
		
	span.size-debug.debug
		span.container-debug.debug

	include _includes/header.jade
	include _includes/form.jade		
	include _includes/main.jade

	include _includes/projects.jade
				
	
	include _includes/footer.jade	
	
	span.center-line.debug

script(src="assets/scripts/main.js")
