section#gallery-photo.flickr-test.section
	h2.gallery__headline gallery
	#flickr-target.gallery__row
		a(href="#") Please Enable Javascript to see photos

script.
	$(function(){
		
		// Remove javascript warning
		$('#flickr-target > a').remove();

		// add loading.gif
		//- jQuery('<img alt="" />').attr('id', 'loader').attr('src', 'ajax-loader.gif').appendTo('#image-container');
		
		// Setup Flickr Call
		var flickrAPI = 'https://api.flickr.com/services/rest/?method='
		var method = 'flickr.photosets.getList';		
		var apiKey = 'df59b5cbaab070441f3a940bfcc04b11'; // my key
		var userId = '136931153%40N05'; // aaronreq
		var perPage = "&page=1&per_page=12"
		var format = '&format=json&nojsoncallback=1'
		var apiCall = 'https://api.flickr.com/services/rest/?method=' + method + '&api_key=' + apiKey + '&user_id=' + userId + perPage + format

		//the initial json request to flickr
		$.getJSON(apiCall, function(data) {
			
			// loop thru photos	
			$.each(data.photosets.photoset, function(i, item) {
				
				// BUILD thumb__info
				// ------------------------------------------------------------
				var setTitle = '<h3>' + item.title._content + '</h3>';				
				var setLength = item.photos;
				var thumbInfo = '<div class="thumb__info">' + setTitle + setLength + '</div>';

				// BUILD thumb
				// ------------------------------------------------------------
				var photoURL = 'http://farm' + item.farm + '.static.flickr.com/' + item.server + '/' + item.primary + '_' + item.secret + '.jpg'	
				var photosetURL = "https://www.flickr.com/photos/" + userId + "/albums/" + item.id
				var thumbImg = "<img src=" + photoURL + ">";
				// set up thumb; add href; add class names; add image as bg image
				var thumb = '<a target="_blank" href="' + photosetURL +'" class="thumb thumb--photo" '
				// add photo as bg-image and close tag
				thumb += 'style="background-image:url(' + photoURL + '")"></a>'

				// BUILD thumb__wrapper and insert
				// ------------------------------------------------------------
				var thumbWrapper = '<div class="thumb__wrapper">' + thumb + thumbInfo + "</div>";
				$(thumbWrapper).appendTo('#flickr-target');
			});
		});
	})