footer.footer
	svg.footer__slope(viewBox="0 0 320 54" preserveAspectRatio="none")
		polygon(points="0,0 0,54 320,54 320 50")
	
	.footer__inner

		a(href="http://tayo.co").footer__brand
			include svg-tayo.html
		
		p.footer__tagline Designed && Developed
			span by 
				a(href="http://tayo.co") Tayo Co 
				|  for 
				a(href="http://acqtaste.club") Tasteclub Labs			

		.footer__social
			a(href="https://www.behance.net/nroth10")
				i.fa.fa-behance
			a(href="mailto:hello@tayo.co")
				i.fa.fa-envelope-o
			a(href="https://github.com/tayox")
				i.fa.fa-github