header#js-header.header
	
	.header__inner
		
		.brand.header__item 
			i.fa.fa-camera
			| aaronreq
		
		.mobile-trigger.header__item#js-mobileNavToggle
			span.mobile-nav-open.mobile-trigger--open MENU
				i.fa.fa-chevron-down
			span.mobile-nav-close.mobile-trigger--close CLOSE
				i.fa.fa-chevron-up        
		
		nav#js-nav.nav.fullpage.menu.hidden
			//- .nav__wrapper
			a.nav__link(href="https://www.instagram.com/aaronreq/") Instagram
			a.nav__link(href="https://twitter.com/Aaronreq/") Twitter
			a.nav__link(href="https://www.youtube.com/user/youngreq35") Youtube
			a.nav__link(href="https://soundcloud.com/aaronreq") Soundcloud
			a.nav__link(href="https://www.flickr.com/photos/136931153@N05/") Flickr