header#js-header
	
	.header-inner#js-header-2
		
		.brand.header__item 
			i.fa.fa-camera
			| aaronreq
		
		.mobile-trigger.header__item#js-mobileNavToggle
			span.mobile-nav-open MENU
				i.fa.fa-chevron-down
			span.mobile-nav-close CLOSE
				i.fa.fa-chevron-up        
		
		nav.fullpage.menu.hidden#js-nav
			.wrapper
				a(href="https://www.instagram.com/aaronreq/") Instagram
				a(href="https://twitter.com/Aaronreq/") Twitter
				a(href="https://www.youtube.com/user/youngreq35") Youtube
				a(href="https://soundcloud.com/aaronreq") Soundcloud
				a(href="https://www.flickr.com/photos/136931153@N05/") Flickr