main.hero
	
	//- TWO BG LAYERS
	.fullscreen__bg.fullscreen__bg--photo.layer--photo
	.fullscreen__bg.fullscreen__bg--color.layer--color

	//- HERO ROW
	.hero__row
		.hero__wrapper
			h1 Hola
			p My name is Aaron. I take pictures and shoot videos. I'm working on finishing up my website. Feel free to keep You probably haven't heard of them craft beer banjo, lomo chia blog actually letterpress retro. Selvage bicycle rights umami, plaid four dollar toast thundercats more
			button.btn.btn--form#js-formOpen Reach Out

	//- .fullscreen__wrapper
		//- <!-- CONTENT -->
			.content-wrapper
				h1 Hola
				p My name is Aaron. I take pictures and shoot videos. I'm working on finishing up my website. Feel free to keep You probably haven't heard of them craft beer banjo, lomo chia blog actually letterpress retro. Selvage bicycle rights umami, plaid four dollar toast thundercats more
				button.btn.btn--form#js-formOpen Reach Out
				button.btn.btn--social#js-menuOpen Follow Me