section#gallery.section--new

	h2 projects
	
	.gallery__wrapper.neat
		
		.thumb__wrapper
			.thumb.thumb--music
				img(src="assets/images/projects/cover--jaguar.jpg")
			.thumb__info
				h3 Jaguar
				.actions__wraper
					a.action Download
					a.action Stream

		.thumb__wrapper
			.thumb.thumb--music
				img(src="assets/images/projects/cover--wawr.jpg")
			.thumb__info
				h3 Who Are We Really This Titleistoolongtowrap
				.actions__wraper
					a.action Download
		
		.thumb__wrapper
			.thumb.thumb--music
				img(src="assets/images/projects/cover--am.jpg")
			.thumb__info
				h3 afterMidnight
				.actions__wraper
					a.action Download
		
		.thumb__wrapper
			.thumb.thumb--music
				img(src="assets/images/projects/cover--infinity.jpg")
			.thumb__info
				h3 Infinity Alpha
				.actions__wraper
					a.action Download