section#gallery--music.section

	h2.gallery__headline projects
	
	.gallery__row.gallery__wrapper.neat
		
		.thumb__wrapper
			a.thumb.thumb--music(href="https://soundcloud.com/aaronreq/sets/jaguar")
				img(src="assets/images/projects/cover--jaguar.jpg")
			.thumb__info
				h3 Jaguar
				.actions__wrapper
					a.action Download
					a.action Stream

		.thumb__wrapper
			.thumb.thumb--music
				img(src="assets/images/projects/cover--wawr.jpg")
			.thumb__info
				h3 Who Are We Really This Titleistoolongtowrap
				.actions__wrapper
					a.action Download
		
		.thumb__wrapper
			.thumb.thumb--music
				img(src="assets/images/projects/cover--am.jpg")
			.thumb__info
				h3 afterMidnight
				.actions__wrapper
					a.action Download
		
		.thumb__wrapper
			.thumb.thumb--music
				img(src="assets/images/projects/cover--infinity.jpg")
			.thumb__info
				h3 Infinity Alpha
				.actions__wrapper
					a.action Download