/////////////////////////////
// Base                   
/////////////////////////////

// Border Box
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Typography
body {
  font-family: 'Inconsolata', monospace;
  // background-color: dodgerblue;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  // color: $link-default;
}

p {
  line-height: 1.6;

  @include bp(medium) {
    font-size: 1.25rem;
  }

  @include bp(large) {
    // color: $color2;
    // font-size: 1.4rem;
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1;
  margin: 0.25em 0;
  // text-transform: uppercase;
  @include transition(font-size .2s linear);

  @include bp(medium) {
    font-size: 7rem;
  }

  @include bp(large) {
    font-size: 10rem;
    letter-spacing: -2px;
  }
}

h2 {
  font-family: 'Inconsolata', monospace;
  font-size: 2.25em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  margin: 2rem auto 3rem;
  color: $grey-dark;
}

h3 {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 1;
  margin: .5rem 0 0;
  font-weight: 400;
  color: $grey-dark;
}
