// ------------------------------------------------------------
// Utilities
// ------------------------------------------------------------


.box {
	padding-top: 100%;
	@include size(100% 2em);
	background-color: $color5;
	display: block;
}