// ------------------------------------------------------------
// Button Module
// let's refactor and make it usable
// ------------------------------------------------------------

// module variables
$btn-color: $grey-light;
$btn-color--dark: $grey-dark;
$btn-color-lopacity: rgba(255,255,255, .35);

.btn {
  display: inline-block;
  padding: .65em;
  margin-top: 1em;
  min-width: 11.625rem;  
  font-size: 1.25rem;
  line-height: 1;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: $btn-color;
  background-color: transparent;
  border: 1px solid $btn-color;

  &:hover {
    cursor: pointer;
    color: $grey-dark;
    background-color: $btn-color;
  }

  &:focus {
    outline: none;
  }

  @include bp(medium) {
    font-size: 1.5rem;
  }
  
  // ------------------------------------------
  // Text Only Buttons  
  // Right now we are using the .btn classs
  // And adding this class
  // Should we use only one class?
  // ------------------------------------------
  &--text {
    display: block;
    margin: 1em auto 0;
    padding: .25rem;
    font-size: 1rem;
    color: $btn-color-lopacity;

    // Are we overriding the btn class?
    min-width: 0;
    border-color: transparent;
    border-bottom: 1px solid $btn-color-lopacity;
    
    &:hover {
      color: rgba(255,255,255, 1);
      background-color: transparent;
      border-bottom-color: white;
    }

    @include bp(medium) {
      font-size: 1.25rem;
    }
  }
}