$btn-color: $grey-light;

.btn {
  padding: 1rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  border: 1px solid $btn-color;
  background-color: transparent;
  color: white;
  display: inline-block;
  text-rendering: optimizeLegibility;
  margin-top: 1rem;
  min-width: 11.625rem;
  padding: .65rem;
  
  padding: .65em;
  margin-top: 1em;

  &:hover {
    background-color: $btn-color;
    color: $grey-dark;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  @include bp(medium) {
    font-size: 1.5rem;
  }

  // &.btn--form { display: none; }

  &.btn--social { display: none; }
  
  // @include bp(large) { 
  //   &.btn--form { display: inline-block; }
  //   &.btn--social { display: none; }
  // }


}

form .btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.btn-text {
	font-size: 1rem;
	border-color: transparent;
  border-bottom-color: $btn-color;
	border-bottom-color: rgba(255,255,255, .35);
  color: rgba(255,255,255, .35);
  min-width: 0;
  padding: .25rem;

  &:hover {
    color: rgba(255,255,255, 1);
    background-color: transparent;
    border-bottom-color: white;
  }

  @include bp(medium) {
    font-size: 1.25rem;
  }
}