$color5: #f1c40f;
$color6: #e67e22;

.form__container {
  display: none;
  @include bp(large) { display: block; }
}

.form-wrapper {
  background-color: rgba(14, 56, 36, 1);
  font-size: 1rem;
  // flex stuff
  // @include display(flex);
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
  display: block;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  // hidden by default
  // display: none;
  
  /* leave it visible so we can track it
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  */

  @include transition(
    opacity .5s cubic-bezier(.33,0,.2,1),
    visibility .5s cubic-bezier(.33,0,.2,1)
  );
  // show
  &.form-visible { 
    z-index: 13;
    opacity: 1;
    visibility: visible;
    .content-wrapper {
      transform: translateY(0); 
    }
  }
  
  .content-wrapper {
    max-width: 100%;
    
    p { 
      max-width: 40rem;
      margin-left: auto;
      margin-right: auto;
    }
    // this should be set on the default wrapper
    position: relative;
    @include position(relative, initial);    

    // overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    transform: translateY(15%);    
    @include transition-property(transform);
    @include transition-duration(.7s);
    @include transition-timing-function(cubic-bezier(0,.33,.2,1) );
  }
  
  // THE FORM
  .contact-form {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    font-size: 1rem;
    // border: 1px solid $color5;
    //
    // hide the labels
    label { display: none; }
  }
  
  // reg'lar inputs
  input {
    display: block;
    margin: 0 auto 1em;
    width: 100%;
    padding: 0 1em;
    line-height: 2;
    
    color: rgba(255,255,255, .35);
    border: none;
    outline: 1px solid rgba(255,255,255, .35);
    background-color: transparent;
    // review this transition
    @include transition(all, .5s cubic-bezier(.33,0,.2,1));
    
    // remove default stuff
    &:focus {
      outline: 1px solid rgba(255,255,255, 1);
      outline-offset: 0;
      color: rgba(255,255,255, 1);
    }
  }  
  
  // checkbox wrapper; flexzone baby
  .form__checkbox-wrapper {
    display: flex;    
    justify-content: space-around;
    
    .form-group {
      flex: 1;      
      // background-color: $color1;
      // don't need these yet?
      &:hover { cursor: crosshair; }
      label { cursor: pointer; }
    }    
  }  
  
  // the INPUTS
  input[type="checkbox"] {
    // outline: none;
    // border: none;
    // HIDE THESE
    visibility: hidden;      
    display: none;
    
    & + label {
      text-transform: uppercase;
      color: rgba(255, 255, 255, .35);
      @include transition(color, .2s ease-in-out);
      display: block;
      padding: 1rem 0;
      // border-bottom: 1px solid pink;
      
      cursor: pointer;
      
      // ON FIRST HOVER
      &:hover { 
        // color: rgba(255, 255, 255, .75); 
        border-color: rgba(255,255,255, .3)
      }

      

    }
    
    // WHEN CHECKED
    &:checked + label { 
      // only thing you need for mobile
      color: rgba(255, 255, 255, 1);     
      // color: $color1;

      // &:hover {
      //   color: $color6;
      //   // color: rgba(255, 255, 255, .75);
      // }   
    }
  }
  


  @include bp(medium) {
    input {
      font-size: 2rem;
    }
    .contact-form {
      font-size: 2rem;
    }

    
  }

  @include bp(large) {
    justify-content: center;

    .form-group {
      padding: 0 0 1em;
    }
    // add hover border
    input[type="checkbox"] + label {
      padding: 0.5em .2em .1em;
      display: inline-block;
      border-bottom: 1px solid transparent;
      &:hover { border-color: white; }
    }
  }
  
  
  // display: none;
}