// ALL OF THIS HAS BEEN MOVED TO HERO

// full pages stuff
.fullscreen__wrapper {
  height: auto;
  position: relative;
}

.content-wrapper {
  position: relative;
  color: white;
  padding: 2rem 1.2rem;
  z-index: 1;
  max-width: 40rem;
  
  width: 100%;
  text-align: center;
  font-size: 1em;

  @include bp(medium) {
    max-width: 50rem;    
  }
}