/////////////////////////////
// Footer                   
/////////////////////////////

$footer-bg-color: white;
$footer-color: $grey-dark;


.footer {
  position: relative;
  margin-top: 40vh;
  padding-bottom: 2rem;
  color: $footer-color;
  background-color: $footer-bg-color;

  // SVG at top of the footer
  &__slope {
    @include size(100vw 16.875vw);
    @include position(absolute, null 0 100%);
    margin-bottom: -1.2%;
    fill: $footer-bg-color;
  }
  
  // ROW; extends %container
  &__inner {
    position: relative;
    text-align: center;
    @extend %container;
    
    // padding-bottom: 2rem;
    // put on the whole footer
  }
  
  // AVI
  &__brand {
    display: inline-block;
    margin: 0 auto;
    padding: 1rem 2rem;

    > svg {
      @include size(3rem 5.75rem);
      fill: $footer-color;
    }
  }
  
  // TAGLIN && SPAN
  &__tagline {
    
    span {
      display: block;  
    }
    
    a {
      display: inline-block;
      border-bottom: 1px solid $footer-color;
      line-height: 1.2;
    }
  }
  
  // ICONS
  &__social {
    @include display(flex);
    justify-content: center;
    padding: 1rem;

    a {
      font-size: 1.5rem;
      padding: 0.7em;
      width: 2em;
      @include size(2.5em);
    }
  }

  @include bp(large) {
    padding-bottom: 3rem;

    &__inner {
      text-align: left;
    }

    &__brand {
      // mostly goin on sight here
      @include position(absolute, null 0 0.8rem null);
      bottom: -1rem;
      bottom: 0;
    }

    &__tagline {
      margin-bottom: 0;
    }

    &__social {
      margin-left: -1rem;
      padding: 0;
      justify-content: flex-start;

      a {
        @include size(auto);
        font-size: 2rem;
        padding: 1rem;
      }
    }
  }
}