.header-inner {
	max-width: 1200px;
	margin: 0 auto;
}


h2 {
	font-family: 'Inconsolata', monospace;
	font-size: 2.25em;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	font-weight: 400;
	line-height: 1;
	margin: 2rem auto 3rem;
	color: $grey-dark;
}

h3 {
	font-family: 'Inconsolata', monospace;
	font-size: 1.5rem;
	letter-spacing: 0;
	line-height: 1;
	margin: .5rem 0 0;
	font-weight: 400;
	color: $grey-dark;
}

a.action {
	font-family: 'Karla';
	font-weight: 900;
	text-transform: uppercase;
	font-size: .875;
	display: block;
	// margin: 0.7em 0 0;
	line-height: 1;
	padding: 0.2rem 0;
}


.section--new {
	display: block;
	position: relative;
	background-color: white;
	min-height: 100vh;
	overflow: hidden;
}



.grid__wrapper {
	padding: 0 2em;
	width: 100%;
	// max-width: 800px;
	margin: 0 auto;
	max-width: 77em; // 1200 + 

	// remove whtiespace fix
	> .grid > .grid__col { margin-right: 0; }
}

.box {
	padding-top: 100%;
	@include size(100% 2em);
	background-color: $color5;
	display: block;
}

.thumb {
	padding: 0;
	height: auto;
	img {
		max-width: 100%;
	}
}

