// ------------------------------------------------------------
// Header
// ------------------------------------------------------------

// Layout Specific Variables
$header__item-padding: 1rem;
$header__item-padding--medium: 2rem;
$header__item-padding--large: 0;

.header {
  position: fixed;
  width: 100%;
  z-index: 11;
  font-size: 1em;
  color: white;    

  &__inner {
    @include display(flex);
    justify-content: space-between;
    @extend %container;
  }
  
  &__item {
    position: relative;
    z-index: 3;
    padding: $header__item-padding;

    &.brand {
      margin-left: -($header__item-padding);
      i.fa { padding-right: 0.5em; }
    }

    &.mobile-trigger {
      margin-right: -($header__item-padding);
      i.fa { padding-left: 0.5em; }
    }
  }

  // Change Color on .mobile-nav Open
  body.mobile-nav & { color: $grey-dark; }

  @include transition(background-color .14s ease-in-out);
  @include transition(padding .14s ease-in-out);

  /*******************************
   * TABLET SIZE
   *******************************/
  @include bp(medium) {
    font-size: 1.25rem;
    
    &__item { 
      padding: $header__item-padding--medium; 
      &.brand { margin-left: -$header__item-padding--medium; }
      &.mobile-trigger { margin-right: -$header__item-padding--medium; }
    }
  }
  
  /*******************************
   * DESKTOP
   *******************************/
  @include bp(large) {
    font-size: 2rem;
    padding: 2rem 0;
    
    // ALIGN FLEX ITEMS
    &__inner { 
      align-items: baseline; 
    }
    
    // RESET COLOR IF MOBILE TOGGLE STILL ON
    body.mobile-nav & { color: white; }
    
    // SET PADDING
    &__item { 
      padding: .5em $header__item-padding--large;
      &.brand { 
        margin-left: $header__item-padding--large;
      }
    }
  }  
}

.mobile-trigger {
  
  // Hide --close trigger by default
  &--close { display: none; }
  
  // Swap triggers when nav opens
  body.mobile-nav & {
    color: $grey-dark;
    &--close { display: inline; }
    &--open  { display: none;   }
  }  
  
  // on desktop, hide triggers
  @include bp(large) {
    display: none;
  }
}




