// ------------------------------------------------------------
// Coming Soon
// Styles needed for placeholder soming soon page
// ------------------------------------------------------------
.cs__wrapper {
  display: block;
  @include position(fixed, 0);
  @include display(flex);
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  p {
    text-transform: uppercase;
    letter-spacing: 3px;
  }  
}