/*==========================
= Debug                    =
==========================*/
span.center-line {
  position: fixed;
  height: 100vh;
  width: 1px;
  left: 50%;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}

.size-debug {
  // @include position(fixed, 0 null null null);
	@include position(fixed, null null 0 null);
	@include size(100% 10px);
	z-index: 99999999;
	background-color: $color1;
	  @include bp(medium) { background-color: $color2; }
  @include bp(large) { background-color: $color3;  }  
}
// footer__slope { 
//   background-color: blue;  
//   @include bp(medium) { background-color: purple; }
//   @include bp(large) { background-color: pink;  }  
// }

.container-debug {
  // @include position(fixed, 0 1rem);
  // border-right: 1px solid $color3;
  // border-left: 1px solid $color3;
  // z-index: 9999999;
  // @include bp(medium) {
  //   left: 2rem;
  //   right: 2rem;
  // }
  // @include bp(large) {
  //   // max-width: 
  // }
  @include size(auto 100%);
  margin: 0 1rem;
  display: block;
  

  @include bp(medium) {
    margin: 0 2rem;
  }
  
  max-width: 1200px;
  background-color: red;
  // margin: 0 auto;

  @include bp(large) {
    margin: 0 auto;
  }
}