// ------------------------------------------------------------
// Thumbnail
// ------------------------------------------------------------

$thumb-color-secondary: $grey-light;

.thumb {
	
	// THUMB COLUMNS
	&__wrapper {
		// Start w/ 2 wide
		@include span-columns(6);
		@include omega(2n);
		// padding-top: 1rem;
		
		// Bump to 3
		@include bp(medium) {
			@include omega-reset(2n)
			@include span-columns(4);
			@include omega(3n);
		}	
		// Up to 4
		@include bp(large) {
			@include omega-reset(3n)
			@include span-columns(3);
			@include omega(4n);	
		}
	}
	
	// DEFAULT CLASS
	padding: 0;
	height: auto;
	display: block;
	// add this stuff to both?
	position: relative;
	padding-top: 100%;

	// Should this apply to all thumbs?
	&--music {
		// position: relative;
		// padding-top: 100%;

		img {
			@include position(absolute, 0);			
		}
	}

	&--photo {
		// padding-top: 100%;
	  // position: relative;
	  
		// debug stuff
	  background-color: blanchedalmond;
	  // background-image: url('http://farm8.static.flickr.com/7200/27310367900_27aa57c3d9.jpg');
	  
	  // set bg sizing
	  background-size: cover;
	  background-position: center center;
	}

	&__info {
		overflow: hidden;
		min-height: 3.125rem;
		background-color: $thumb-color-secondary;
		
		// this should probably be on the global h3
		h3 {
			font-size: .75rem;
		}
	}
}