/*==========================
= Tools                    =
==========================*/

// Normalize
@import '0-normalize';
// Bourbon
@import 'bourbon/bourbon';
// Google WebFonts
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
// Material Design Lite Demo
@import '0-mdl-demo';


/*==========================
= Base                     =
==========================*/

// Mixins & Bits
@import '1-mixins';
// Base
@import '1-base';


/*==========================
= Modules                  =
==========================*/

// Header
@import '2-header';
// Nav
@import '2-nav';
// Content & FullPage
@import '2-full-page';
// Button
@import '2-btn';
// Footer
@import '2-footer';
// Form
@import '2-form';


/*==========================
= Debug                    =
==========================*/
span.center-line {
  position: fixed;
  height: 100vh;
  width: 1px;
  left: 50%;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}

.size-debug {
	@include position(absolute, 0);
	@include size(100% 3px);
	z-index: 1;
	background-color: $color1;
	  @include bp(medium) { background-color: $color2; }
  @include bp(large) { background-color: $color3;  }  
}
// #Footer-Slope { 
//   background-color: blue;  
//   @include bp(medium) { background-color: purple; }
//   @include bp(large) { background-color: pink;  }  
// }



.debug {
	display: none!important;  
}




